html, body {
    height: 100%;
    margin: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  footer {
    flex-shrink: 0;
    background-color: #f0f0f0;
    text-align: center;
  }